<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title >UC Berkeley Basic Needs Food Pantry</title>
  </head>

  <body style="background-color: #003262;">
    {% extends "template.html" %}
    {% block content %}
    
    <h1> Automated Scheduler </h1>

     <form action = "/home" method = "POST" enctype = "multipart/form-data">
      <p>Click on the "Choose File" button to upload a CSV of the Volunteer Availabilities:</p>
      <input type = "file" name = "Volunteers" accept=".csv"/>
      <br>

      <br>
      <p>Click on the "Choose File" button to upload a CSV of the Shifts:</p>
      <input type = "file" name = "Shifts" accept=".csv" />

      <br>
      <br>
      <br>
      <br>
      <br>
      <input type = "submit" value = "Submit" style="margin:0px auto; display:block;"/>
     </form>



  {% endblock %}
  </body>
</html>